{%load static%}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Signup</title>

    <link rel="stylesheet" href="{%static 'register.css' %}">

</head>

<body>

    <section class="pre-hm">

        <nav class="tumu">

            <div class="LOGO">

                <i class="fa-sharp fa-solid fa-p"></i>

            </div>

            <div class="navigation">

                <ul>

                    <li><a class="hme" href="{% url 'index' %}">HOME</a></li>

                    <li><a class="abt" href="#">ABOUT</a></li>

                    <li><a class="lgn" href="{% url 'login' %}">LOGIN</a></li>

                    <li><a class="cnt" href="INDEX.HTML">CONTACT</a></li>

                </ul>

                <!-- <span class="fa fa-bars"></span> -->

            </div>

        </nav>

    </section>

 

    <div class="main">

        <div class="signup-box">

            <h2>SIGNUP</h2>

            <form action="register" method="post" name="registration_form">
                {%csrf_token%}
                <div class="user-box">

                    <input type="text" name="first_name" required>

                    <label>First Name</label>

                </div>

                <div class="user-box">

                    <input type="text" name="last_name" required>

                    <label>Last Name</label>

                </div>

 

                <div class="user-box">

                    <input type="text" name="username" required>

                    <label>Username</label>

                </div>

 

                <div class="user-box">

                    <input type="email" name="email" required>

                    <label>Email</label>

                </div>

                <div class="user-box">

                    <input type="password" name="password1" class="pass" required>

                    <label>Password</label>

                </div>

                <div class="user-box">

                    <input type="password" name="password2" class="pass" required>

                    <label>Confirm Password</label>

                </div>

                <input type="submit" name="sub">
                


            </form>
          
       
    </div>
    </div>
    <div class="popup" id="popup">
        <img src="{%static '404-tick.webp' %}">
        <h2>Thank You!</h2>
        <p>Your details has beensuccessfully submitted.</p>
        
</div>

    <footer class="foot" id="foot1">

        <div class="container">
  
          <div class="contact-details">
  
            <h3>Contact Us</h3>
  
            <p>Email: example@email.com</p>
  
            <p>Phone: +1 (123) 456-7890</p>
  
            <p>Address: 123 Street, City, Country</p>
  
          </div>
  
          <div class="social-icons">
  
            <h3>Follow Us</h3>
  
            <ul>
  
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
  
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
  
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
  
              <!-- Add more social media icons as needed -->
  
     
  
            </ul>
  
          </div>
  
        </div>
  
     
  
      </footer>



    <script src="{%static 'register.js' %}"></script>

 

</body>

</html>